* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7em;
  font-size:13px;
}

ol, ul {
  list-style: none;
}

#logo {
  float:left;
  width: auto;
  padding: 18px 0 34px 0;
}

#logo a {
  font-size: 150%;
  color: #CA1E00;
  font-size: 60px;
  font-weight:600;
  letter-spacing: -2px;
  text-decoration: none;
  border-bottom: none
}

header {
  float: left;
  border-bottom: 1px dotted #CCC;
  margin: 0;
  width: 900px;
}

header h2 {
  font-size: 18px;
  font-weight: 200;
  padding: 12px 4px 0 0;
}

header nav {
  float: right;
  width: auto;
  padding: 12px 0 0;
}

}

#sidebar {
width: 250px;
float: right;
margin: 0 0 25px 0;
}

#sidebar .block {
  padding: 25px 0 0;
}

#sidebar h3 {
  padding: 0 0 3px 0;
  font-size: 18px;
}


footer {
  width: 900px;
  clear: both;
  border-top: 1px dotted #CCC;
  text-align: center;
  padding: 30px 0 0;
}

article {
  padding: 0 30px 0 0;
}

article h1, article h1 a {
  font-family: Georgia, serif;
  font-size: 28px;
  margin: 30px 0 10px 0;
  font-weight: normal;
  line-height: 32px;
}

article p {
  margin: 14px 0 14px 0;
}

hr {
  margin-top: 35px;
  border: 0;
  border-top: 1px dotted #CCC;
  width: 620px;
  color: white;
  clear: both;
  border-image: initial;
}

header a, .content a, #sidebar a, footer a {
  border-bottom: 1px dotted black;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#wrapper {
  width:900px;
  margin: 30px auto 140px;
  padding: 30px 30px 0;
}

.content {
  width: 620px;
  float: left;
  border-right: 1px dotted #CCC;
  padding: 0 0 30px 0;
  min-height: 420px;
  overflow: hidden;
}

#sidebar {
width: 250px;
float: right;
margin: 0 0 25px 0;
}

#sidebar .block {
  padding: 25px 0 0;
}

#sidebar h3 {
  padding: 0 0 3px 0;
  font-size: 18px;
}

#sidebar .block .border ul {
  border-bottom: 1px dotted #CCC;
}

#sidebar .block .border li {
  border-top: 1px dotted #CCC;
}

#sidebar .block li a {
  font-size: 13px;
  font-weight: normal;
  padding: 2px 0 2px 4x;
  display: block;
  border-bottom: none;
}

footer {
  width: 900px;
  clear: both;
  border-top: 1px dotted #CCC;
  text-align: center;
  padding: 30px 0 0;
}

article {
  padding: 0 30px 0 0;
}

.content article h1, .content article h1 a {
  font-family: Georgia, serif;
  font-size: 28px;
  margin: 30px 0 10px 0;
  font-weight: normal;
  line-height: 32px;
}

article p {
  margin: 14px 0 14px 0;
}

article small {
font-size: 11px;
}

hr {
  margin-top: 35px;
  border: 0;
  border-top: 1px dotted #CCC;
  width: 620px;
  color: white;
  clear: both;
  border-image: initial;
}
