<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include header.html %}
<body>
  {% include nav_bar.html %}

  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h1 id="home-title">John Beynon :: Blog</h1>
        <p>a UK Ruby on Rails developer in Guildford, Surrey</p>

        <div style="margin-top:35px">
          <a href="http://about.me/johnbeynon" class="home-share-btn">
            <i class="fui-aboutme"></i> About Me
          </a>
          <a href="https://github.com/johnbeynon" class="home-share-btn">
            <i class="fui-github"></i> Github
          </a>
          <a href="http://stackoverflow.com/users/93252/john-beynon" class="home-share-btn">
            <i class="fui-stackoverflow"></i> StackOverflow
          </a>
          <a href="http://twitter.com/johnbeynon/" class="home-share-btn">
            <i class="fui-twitter"></i> Twitter
          </a>
          <a href="http://uk.linkedin.com/pub/john-beynon/56/3a7/395/" class="home-share-btn">
            <i class="fui-linkedin"></i> LinkedIn
          </a>
          <a href="https://plus.google.com/u/0/102563067814101499205?rel=author" class="home-share-btn">
            <i class="fui-googleplus"></i> Google+
          </a>
          <br>
        </div>
      </div>
    </div>

    {{ content }}
  </div> <!-- /container -->


  {% include footer.html %}

</body>
</html>
