---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <small>
    <span><b>Date:</b> {{ page.date | date_to_string }}</span>
    <span>| <b>Author:</b> {{ page.author }}</span>
  </small>
  {{ content }}
  <div class="social">
     <span><g:plusone size="small" annotation="inline" width="200"
      href="http://john.beynon.org.uk{{ post.url }}"></g:plusone></span>
    <span><a href="https://twitter.com/share"
        class="twitter-share-button"
        data-url="http://john.beynon.org.uk{{ post.url }}" data-count="horizontal"
        data-via="johnbeynon">{{ post.title }}</a><script type="text/javascript"
        src="//platform.twitter.com/widgets.js"></script></span>
  </div>

</article>

<div id="related">
  <h2>Other recent posts...</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

